//----
.dnd-draggable {
  height: 5rem;
  width: 5rem;
  background-color: black;
  cursor: grab;
}

.dnd-droppable {
  height: 15rem;
  width: 15rem;
  border: 3px solid black;
  padding: 0.5rem;
  margin: 0.5rem;
  display: inline-block;
}

.dnd--dragging{
  border-style: dashed;
}
